praktikum-8/ABC.class
praktikum-8/DeepCopyExample.class
praktikum-8/ShallowCopyExample.class
praktikum-1/Hello.class
praktikum-2/PraktikumRumus.class
praktikum-3/SpookyNumber.class
praktikum-4/Encapsulate.class
praktikum-4/TestEncapsulation.class
praktikum-5/Animal.class
praktikum-5/Cat.class
praktikum-5/Dog.class
praktikum-5/TestInheritance3.class
praktikum-6/Bicycle.class
praktikum-6/Bike.class
praktikum-6/GFG.class
praktikum-6/GFG2.class
praktikum-6/Helper.class
praktikum-6/Honda3.class
praktikum-6/vehicle.class
